* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
  font-family: "roboto slab";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.page {
  height: 100vh;
  background-color: #f4f4f4;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  background-color: #231942;
  justify-content: center;
  align-items: start;
  height: 70px;
  width: 100%;
  margin-bottom: 40px;
  outline: 7px dashed #231942;
  outline-offset: -3px;
}

footer {
  outline: 7px dashed #e3dcb8;
  outline-offset: -3px;
  margin-top: 15px;
  background-color: #e3dcb8;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: end;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}
footer .container-footer {
  justify-content: space-between;
}

img {
  width: 100px;
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  color: #231942;
  font-size: 50px;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

hr {
  width: 93%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #e3dcb8;
}

hr:last-child {
  width: 93%;
  border: 3px solid #e3dcb8;
}

ul {
  list-style-type: none;
}
ul li {
  list-style-type: none;
}

.section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 520px;
  margin-bottom: 30px;
}
.section-one {
  outline: 6px dashed #e0b1cb;
  outline-offset: -2px;
  background-color: #e0b1cb;
}
.section-two {
  z-index: 0;
  outline: 6px dashed #c7a6cd;
  outline-offset: -2px;
  background-color: #c7a6cd;
}
.section-three {
  background-color: #231942;
}
.section-single {
  background-color: #e0b1cb;
  outline: 6px dashed #e0b1cb;
  outline-offset: -2px;
  margin: 64px 0;
}

.box {
  z-index: 0;
  width: 1320px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.box-main {
  outline: 6px dashed #e0b1cb;
  outline-offset: -4px;
  background-color: #f4f4f4;
}
.box-main-two {
  z-index: 2;
  outline: 6px dashed #e0b1cb;
  outline-offset: -4px;
  background-color: #f4f4f4;
}

.container-one {
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0b1cb;
  outline: 6px dashed #e0b1cb;
  outline-offset: -2px;
}

.container-two {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-two img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 760px;
}
.block-content-white {
  background-color: white;
  outline: 6px solid #231942;
  outline-offset: -10px;
}
.block-content-pink-one {
  outline: 6px dashed #231942;
  background-color: #231942;
}
.block-content-pink-two {
  background-color: #231942;
}
.block h4,
.block p {
  color: white;
  margin-left: 15px;
  margin-bottom: 10px;
}

.block-logo {
  width: 150px;
  margin: 10px;
}
.block-logo .logo {
  margin: 25px;
  width: 90%;
  height: 90%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
form h2 {
  margin-bottom: 20px;
}
form input {
  display: flex;
  margin-bottom: 20px;
  width: 480px;
  border: 4px solid #e3dcb8;
  height: 40px;
  padding-left: 20px;
  font-size: 20px;
}

button {
  font-size: 30px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 70px;
  background-color: #231942;
  color: #e3dcb8;
  cursor: pointer;
  outline: 6px dashed #231942;
  outline-offset: -4px;
  border: transparent;
}

.container-users {
  display: flex;
  flex-direction: column;
}
.container-users form {
  margin-top: 20px;
}
.container-users form h2 {
  font-size: 32px;
  margin: 0;
}
.container-users form input {
  width: 400px;
}
.container-users form button {
  padding: 10px 20px;
  font-size: 20px;
}
.container-users form select {
  border: 4px solid #e3dcb8;
  width: 430px;
  height: 50px;
  font-size: 24px;
  margin: 10px auto;
}

.container-food {
  display: flex;
  flex-direction: column;
}
.container-food form {
  margin-top: 20px;
}
.container-food form h2 {
  font-size: 32px;
}
.container-food form input {
  width: 400px;
}
.container-food form button {
  padding: 10px 20px;
  font-size: 24px;
}
.container-food form select {
  border: 4px solid #e3dcb8;
  width: 430px;
  height: 50px;
  font-size: 24px;
  margin: 15px auto;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 600px;
  height: 100%;
}
.header-nav .navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
}
.header-nav .navigation li {
  display: flex;
  justify-content: space-between;
}
.header-nav .navigation li a {
  color: #ffffff;
}
.header-nav .navigation-one {
  display: flex;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
}

.footer-nav {
  width: 250px;
  height: -moz-fit-content;
  height: fit-content;
}
.footer-nav .navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
}
.footer-nav .navigation li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.footer-nav .navigation li a {
  color: #231942;
}

.comment-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.comment-block .comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.comment-block .comment-element {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: white;
  margin-bottom: 20px;
}
.comment-block .comment-element p {
  overflow: hidden;
  word-wrap: break-word;
  height: 70px;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.comment-block .comment-element .comment-delete {
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.button-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 8px 5px;
  padding: 0;
  background-image: linear-gradient(135deg, #e3dcb8 0%, #e0b1cb 100%);
  box-shadow: 0 20px 30px -6px rgba(35, 25, 66, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: #231942;
}

.button-delete:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.button-delete:hover {
  opacity: 1;
}

.comment-form h2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.comment-form textarea {
  margin-top: 10px;
  border: 4px solid #e3dcb8;
  height: 150px;
  width: 800px;
  font-size: 20px;
  resize: none;
}
.comment-form button {
  font-size: 24px;
  margin-top: 50px;
}

.calendar-numbers {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.calendar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 830px;
  margin-top: 20px;
  cursor: pointer;
}
.calendar-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 25px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-image: linear-gradient(135deg, #e3dcb8 0%, #e0b1cb 100%);
  box-shadow: 0 20px 30px -6px rgba(35, 25, 66, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: #231942;
}

.calendar-number:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.calendar-number:hover {
  opacity: 1;
}

.container-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.container-list h2 {
  margin: 10px auto;
  margin-bottom: 50px;
}
.container-list h5 {
  margin: 10px;
}
.container-list .list-menu-value h5 {
  color: #231942;
}

.list-menu-day {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.list-menu-day-title {
  width: 100px;
  height: 100px;
}

.container-create-menu {
  margin-top: -100px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.container-create-menu .create-menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
  height: 250px;
}
.container-create-menu .create-menu-title h5 {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container-create-menu .create-menu-selects select {
  display: flex;
  width: 350px;
  flex-direction: column;
  font-size: 24px;
  margin-bottom: 15px;
  border: 4px solid #e3dcb8;
}
.container-create-menu .crate-menu-date {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}
.container-create-menu .create-menu-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.container-create-menu .create-menu-button button {
  padding: 10px;
}/*# sourceMappingURL=main.css.map */