.calendar {
  &-numbers {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  &-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 830px;
    margin-top: 20px;
    cursor: pointer;
  }

  &-number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 25px;
    width: 55px;
    height: 55px;
    border-radius: 100%;

    background-image: linear-gradient(135deg, #e3dcb8 0%, #e0b1cb 100%);
    box-shadow: 0 20px 30px -6px rgba(#231942, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: #231942;
  }
}
.calendar-number:hover {
  transform: translateY(3px);
  box-shadow: none;
}
.calendar-number:hover {
  opacity: 1;
}

.section-changer {
  background-color: $color-block-yellow;
}
.block-menu-calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    display: flex;
    justify-content: center;
  }
  h4 {
    display: flex;
    justify-content: center;
    color: $color-font-three;
  }
  h5 {
    margin-top: 20px;
    color: $color-font-two;
  }
  .block-menu-calendar-info {
    margin-top: 20px;
    width: 1000px;
    height: 260px;
    outline: 6px dashed $color-font-three;
    outline-offset: -1px;
    border: 6px solid $color-font-three;
    background-color: $color-block-purple;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
