.header-nav {
    display: flex;
    align-items: center;
    width: 600px;
    height: 100%;
    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        color: $color-text-a;
        li {
            display: flex;
            justify-content: space-between;
            a {
                color: $color-text-a;
            }
        }
    }
    .navigation-one {
        display: flex;
        justify-content: center;
        height: fit-content;
        width: 100%;
        margin: 0 auto;
    }
}
.footer-nav {
    width: 250px;
    height: fit-content;
    .navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        margin-top: 30px;
        li {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            a {
                color: $color-text-a;
            }
        }
    }
}
.header-nav {
    .navigation li a:hover {
        transition: 0.2s;
        color: $hover-1;
    }
    .navigation li a:active {
        color: $hover-3;
    }
}
.footer-nav {
    .navigation li a:hover {
        transition: 0.2s;
        color: $hover-3;
    }
    .navigation li a:active {
        color: $hover-2;
    }
}
