$color-block-purple: #231942;
$color-block-pink-1: #c7a6cd;
$color-block-pink-2: #e0b1cb;
$color-block-yellow: #e3dcb8;
$color-block-white: white;

$color-dashed-yellow: #e3dcb8;
$color-dashed-purple: #231942;
$color-dashed-pink-1: #231942;
$color-dashed-pink-2: #e0b1cb;

$color-form: #e3dcb8;
$color-button-bg-dashed: #231942;

$color-hr: #e3dcb8;
$color-font: white;
$color-font-two: #e3dcb8;
$color-font-three: #231942;

$color-a-one: #231942;
$color-a-two: #ffffff;

$color-footer: #e3dcb8;
$color-header: #231942;

$scroll: #e3dcb8;

$hover-1: #e3dcb8;
$hover-2: #231942;
$hover-3: #e06dac;
