$color-block-pink-1:  #231942;   
$color-block-pink-2: #c7a6cd;
$color-block-pink-3: #e0b1cb;
$color-block-yellow: #e3dcb8;
$color-block-white: white;

$color-form: #e3dcb8;
$color-button: #231942;

$color-hr: #e3dcb8;
$color-font: white;
$color-a: #ffffff;

$color-footer: #e3dcb8;
$color-header: #231942;