$color-block-purple: #231942;
$color-block-pink-1: #c7a6cd;
$color-block-pink-2: #e0b1cb;
$color-block-yellow: #e3dcb8;
$color-block-white: white;

$color-dashed-yellow: #e3dcb8;
$color-dashed-purple: #231942;
$color-dashed-pink-1: #231942;
$color-dashed-pink-2: #e0b1cb;

$color-form: #e3dcb8;
$color-button-bg-dashed: #231942;

$color-font: white;
$color-font-two: #e3dcb8;
$color-font-three: #231942;

$color-a-one: #231942;
$color-a-two: #ffffff;

$color-footer: #d9d9d9;
$color-header: #d9d9d9;

$scroll: #e3dcb8;

$hover-1: #e3dcb8;
$hover-2: #231942;
$hover-3: #e06dac;

$color: #f4f4f4;

// new style
$color-pg: #f4f4f4;

$color-section: #d9d9d9;

$color-box-shadow-maybe: #0839559d;

$color-box-shadow: #241a4273;
$color-text-one: #2d2d2d;
$color-text-two: #083955;

$color-text-a: #2d2d2d;
$color-hr: #083955;
